{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <h1 class="text-center">{{ 'cart.content.title'|trans }}</h1>
        {% if app.user == false %}
            <table class="table m-5">
                <thead class="text-center">
                <tr>
                    <th>{{ 'cart.content.name'|trans }}</th>
                    <th>{{ 'cart.content.quantity'|trans }}</th>
                    <th>{{ 'cart.content.price'|trans }}€</th>
                    <th>{{ 'cart.content.total'|trans }}</th>
                    <th>{{ 'cart.content.delete'|trans }}</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for carts in items %}
                    <tr>
                        <td>{{ carts.product }}</td>
                        <td>
                            {% set session = app.session.get('cart') %}
                            {% if session.1 >= 2 %}
                                <a href="{{ path('cart_decrement', {'id': carts.product.id}) }}"
                                   class="btn btn-primary btn-sm ">
                                    -
                                </a>
                            {% else %}
                                <a href="{{ path('cart_decrement', {'id': carts.product.id}) }}"
                                   class="btn btn-primary btn-sm disabled">
                                    -
                                </a>
                            {% endif %}

                            {{ carts.qty }}
                            <a href="{{ path('cart_add', {'id': carts.product.id}) }}?returnToCart=true"
                               class="btn btn-sm btn-primary">
                                +
                            </a>
                        </td>
                        <td>{{ carts.product.price }} €</td>
                        <td>{{ carts.qty * carts.product.price }} €</td>
                        <td>
                            <a href="{{ path('cart_delete', {'id': carts.product.id}) }}" class="btn btn-danger">X</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">{{ 'cart.content.message'|trans }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    <td class="text-center">{{ total }} €</td>
                </tr>
                </tfoot>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    {% if items|length > 0 %}
                    <div class="col-md-4 col-sm-12 mb-5"><a href="{{ path('cart_content_insert') }}" class="btn btn-success placer ">{{'cart.content.validate' |trans }}</a></div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 m-5">
                    <p colspan="4" class="text-center">Veuillez vous connectez pour voir vos produits sur le panier,<a href="{{ path('app_register') }}">ici</a> </p>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
