{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% if app.user == false %}
            <table class="table m-5">
                <thead>
                <tr>
                    <th>Nom du produit</th>
                    <th>Quantité</th>
                    <th>Prix TTC €</th>
                    <th>Montal Total</th>
                    <th>Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for carts in items %}
                    <tr>
                        <td>{{ carts.product }}</td>
                        <td>
                            <a href="{{ path('cart_decrement', {'id': carts.product.id}) }}"
                               class="btn btn-primary btn-sm">
                                -
                            </a>
                            {{ carts.qty }}
                            <a href="{{ path('cart_add', {'id': carts.product.id}) }}?returnToCart=true"
                               class="btn btn-sm btn-primary">
                                +
                            </a>
                        </td>
                        <td>{{ carts.product.price }} €</td>
                        <td>{{ carts.qty * carts.product.price }} €</td>
                        <td>
                            <a href="{{ path('cart_delete', {'id': carts.product.id}) }}" class="btn btn-danger">X</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucuns produits dans le panier</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{ total }} €</td>
                </tr>
                </tfoot>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 col-sm-12 mb-5"><a href="" class="btn btn-success placer ">Passer au
                            paiement</a></div>
                </div>
            </div>


        {% else %}
            <div class="row">
                <div class="col-md-12 m-5">
                    <p colspan="4" class="text-center">Veuillez vous connectez pour voir vos produits sur le panier</p>
                    <a href="" class="btn btn-primary">Connexion</a>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
