{% extends 'base.html.twig' %}

{% block title %}
	{{'admin.user.viewall'|trans}}
{% endblock %}

{% block body %}
	<div class="collection_text">
		{{'admin.user.viewall'|trans}}
	</div>
	<!-- breadcrumb end  -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ path('home') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a></li>
			<li class="breadcrumb-item"><a href="{{ path('admin_home') }}" title="{{ 'admin.titleHeader'|trans }}">{{ 'admin.titleHeader'|trans }}</a></li>
			<li class="breadcrumb-item"><a href="{{ path('admin_users') }}" title="{{'user.today.registered'|trans}}">{{'user.today.registered'|trans}}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{'admin.user.viewall'|trans}}</li>
		</ol>
	</nav>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-12 mt-5">
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>{{'user.firstname'|trans}}</th>
					<th>{{'user.lastname'|trans}}</th>
					<th>{{'user.email'|trans}}</th>
					<th>{{'user.roles'|trans}}</th>
					<th>{{'user.createdat'|trans}}</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.id}}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.email}}</td>
						<td>
							{% for role in user.roles %}
								{{role}}
							{% else %}
								{{'user.title'|trans}}
							{% endfor %}
						</td>
						<td>{{ user.createdAt |date('Y-m-d H:i:s') }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">{{'user.today.nouser'|trans}}</td>
					</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>

{% endblock %}