{% extends 'base.html.twig' %}

{% block title %}CartContent{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <h1 class="text-center">{{ 'cart.content.title'|trans }}</h1>
            <table class="table m-5">
                <thead class="text-center">
                <tr>
                    <th>{{ 'cart.content.name'|trans }}</th>
                    <th>{{ 'cart.content.quantity'|trans }}</th>
                    <th>{{ 'cart.content.price'|trans }}€</th>
                    <th>{{ 'cart.content.purchaseAt'|trans }}</th>
                    <th>{{ 'cart.content.total'|trans }}</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for content in cart.cartContents %}
                    <tr>
                        <td>{{ content.product }}</td>
                        <td>{{ content.quantity }}</td>
                        <td>{{ content.product.price }} €</td>
                        <td>{{ content.cart.purchaseAt |date("d/m/Y") }}</td>
                        <td>{{ content.total }} €</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td colspan="4"><strong>Total</strong></td>
                    <td class="text-center">{{ cart.total }} €</td>
                </tr>
                </tfoot>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                        <div class="col-md-4 col-sm-12 mb-5"><a href="{{ path('cart_content_show',{'id': cart.id}) }}"
                                                                class="btn btn-success placer ">{{ 'cart.content.pay' |trans }}</a>
                        </div>
                </div>
            </div>
    </div>
{% endblock %}
