{% extends 'base.html.twig' %}

{% block title %}{{ 'user.profil.title'|trans }}{% endblock %}

{% block body %}
    <div class="collection_text">{{ 'user.profil.title'|trans }}</div>
    <div class="collection_section layout_padding">
        <div class="container">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <h1 class="new_text"><strong>{{ 'user.profil.welcome'|trans({'%firstname%': user.firstname|capitalize, '%lastname%': user.lastname|capitalize})}}</strong></h1>
                <div class="card m-5" >
                    <div class="card-header">
                        <h3>{{ 'user.profil.title2'|trans }}</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>{{ 'user.form.firstname'|trans }}: </strong>{{ user.firstname }}</li>
                        <li class="list-group-item"><strong>{{ 'user.form.lastname'|trans }}: </strong>{{ user.lastname }}</li>
                        <li class="list-group-item"><strong>{{ 'user.form.email'|trans }}: </strong>{{ user.email }}</li>
                        <li class="list-group-item"><strong>{{ 'user.form.roles'|trans }}: </strong>
                            {% for role in user.roles %}
                                <span class="badge badge-info">
                                    {% if role == 'ROLE_ADMIN' %}
                                        {{ 'admin'|trans }}
                                    {% elseif role == 'ROLE_SUPER_ADMIN' %}
                                        {{ 'superAdmin'|trans }}
                                    {% else %}
                                        {{ 'user.title'|trans }}
                                    {% endif %}
                                </span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            <div class="d-flex flex-row col-12">
                {# Edit #}
                <a class="btn btn-info mb-2 mr-2 col-6" href="{{ path('app_profil_edit', {id: user.id}) }}" title="{{ 'user.profil.edit'|trans }}"><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'user.profil.edit'|trans }}</a>
                {# Delete #}
                {{ include('profil/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="layout_padding gallery_section mt-3">
        <div class="container">
            <h1 class="new_text"><strong>{{ 'user.profil.order'|trans }}</strong></h1>
            <div class="row">
                {% for cart in user.carts %}
                        <div class="col-sm-4">
                            <div class="best_shoes">
                                <p class="best_text">{{ 'user.profil.orderNumber'|trans }} {{ cart.id }}</p>
                                <div class="shoes_icon">
                                    <strong>{{ cart.purchaseAt|date('d/m/Y H:i') }}</strong>
                                </div>
                                <div class="star_text">
                                    <div class="left_part">
                                        <a class="btn btn-info" href="{{ path('cart_content_show', {'id': cart.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'user.profil.show'|trans }}</a>
                                    </div>
                                    <div class="right_part">
                                        <div class="shoes_price">&euro; <span style="color: #ff4e5b;">{{ cart.total }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% else %}
                    <p class="text-bold" style="color:black">{{ 'user.profil.orderEmpty'|trans }} :(</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

