{% extends 'base.html.twig' %}

{% block title %}{{ 'user.profil.title'|trans }}{% endblock %}

{% block body %}
    <div class="collection_text">{{ 'user.profil.title'|trans }}</div>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="collection_section layout_padding">
        <div class="container">
            <h1 class="new_text"><strong>{{ 'user.profil.welcome'|trans({'%firstname%': user.firstname, '%lastname%': user.lastname})}}</strong></h1>
{#            <p class="consectetur_text">#}
                <div class="card m-5" >
                    <div class="card-header">
                        <h3>{{ 'user.profil.title2'|trans }}</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>{{ 'user.form.firstname'|trans }}: </strong>{{ user.firstname }}</li>
                        <li class="list-group-item"><strong>{{ 'user.form.lastname'|trans }}: </strong>{{ user.lastname }}</li>
                        <li class="list-group-item"><strong>{{ 'user.form.email'|trans }}: </strong>{{ user.email }}</li>
                        <li class="list-group-item"><strong>{{ 'user.form.roles'|trans }}: </strong>
                            {% for role in user.roles %}
                                <span class="badge badge-info">
                                    {% if role == 'ROLE_ADMIN' %}
                                        {{ 'admin'|trans }}
                                    {% elseif role == 'ROLE_SUPER_ADMIN' %}
                                        {{ 'superAdmin'|trans }}
                                    {% else %}
                                        {{ 'user.title'|trans }}
                                    {% endif %}
                                </span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
{#            </p>#}
            <a class="btn btn-info" href="" title="{{ 'user.profil.edit'|trans }}">{{ 'user.profil.edit'|trans }}</a>
            <a class="btn btn-danger" href="" title="{{ 'user.profil.delete'|trans }}">{{ 'user.profil.delete'|trans }}</a>
        </div>
    </div>
    <div class="layout_padding gallery_section mt-3">
        <div class="container">
            <h1 class="new_text"><strong>{{ 'user.profil.order'|trans }}</strong></h1>
            <div class="row">
                {% for cart in user.carts%}
                    <div class="col-sm-4">
                        <div class="best_shoes">
                            <p class="best_text">Best Shoes </p>
                            <div class="shoes_icon"><img src="images/shoes-img4.png"></div>
                            <div class="star_text">
                                <div class="left_part">
                                    <ul>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    </ul>
                                </div>
                                <div class="right_part">
                                    <div class="shoes_price">$ <span style="color: #ff4e5b;">60</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-bold" style="color:black">{{ 'user.profil.orderEmpty'|trans }} :(</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
