{% extends 'base.html.twig' %}

{% block title %}{{'admin.title'|trans}}{% endblock %}

{% block body %}
	<h1>{{'admin.title'|trans}}</h1>
	<a class="btn btn-primary" href="{{ path('admin_products') }}" title="{{ 'admin.product.title'|trans }}">{{ 'admin.product.title'|trans }}</a>
{% endblock %}
