{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<main class="container">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<p class="alert alert-{{type}}">{{message}}</p>
			{% endfor %}
		{% endfor %}
	</main>

	<h1>Product index</h1>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Image</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.price }}</td>
						<td>{{ product.stock }}</td>
						<td>{{ product.image }}</td>
						<td>
							<a href="{{ path('product_show', {'id': product.id}) }}">show</a>
							<a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot></tfoot>
		</table>
		<a class='btn btn-success mt-2 mb-2' href="{{ path('product_new') }}">Create new</a>
	</div>


{% endblock %}
