{% extends 'base.html.twig' %}

{% block title %}
	{{'product.title'|trans}}
{% endblock %}

{% block body %}
	<div class="collection_text">{{'product.title2'|trans}}</div>
	<!-- breadcrumb end  -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ path('home') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ 'product.title2'|trans }}</li>
		</ol>
	</nav>
	<!-- breadcrumb end -->
	<div class="collection_section layout_padding">
		<div class="container">
			<h1 class="new_text">
				<strong>{{'product.title2'|trans}}</strong>
			</h1>
			<div class="row">
				<div class="col-12">
					{% for type, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
			<p class="consectetur_text">{{'product.ProductDesc'|trans}}</p>
		</div>
	</div>
	<div class="layout_padding gallery_section">

		{% if products|length == 0 %}
			<div class='container'>
				<h1>
					<strong>
						{{'product.OutofStockDesc'|trans}}</strong>
				</h1>
			{% else %}
				<div class="container">
					<div class="row">
						{% for product in products %}
							<div class="col-sm-4">
								<div class="best_shoes" style="width: 300px">
									<p class="best_text">{{ product.name|capitalize }}</p>
									<div class="shoes_icon"><img class="img-fluid" style="width:80%" src="{{'/uploads/images_products/' ~ product.image}}" style=" "></div>
									<div class="star_text align-text">
										<div class="justify-content-center">
											<div class="shoes_price ml-4 mt-2 tex-align-left">
												{{'product.currency'|trans}}
												<span class='justify-content-center align-items-center mt-3' style="color:#ff4e5b;">{{ product.price }}</span>
											</div>
											<br>
											<div class="justify-content-center align-items-center ml-10">
												<div class="justify-content-center align-items-center ml-4 ">
													<a class='btn btn-danger btn-lg' href="{{ path('product_show', {'id': product.id}) }}" title="{{'product.show'|trans}}">{{'product.show'|trans}}</a>
													<a href="{{ path('cart_add', {'id': product.id}) }}?returnToProduct=true" class="btn btn-success btn-lg" title="{{'product.addToCart'|trans}}">
														<i class="fa fa-shopping-cart"></i>
														<i class="fa fa-plus"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
