{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Product' }}
{% endblock %}

{% block body %}
	<div class="collection_text">{{product.name}}</div>
	<div class="about_main layout_padding">
		<div class="collection_section">
			<div class="container">
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
					<a class="btn btn-warning" href="{{ path('product_edit2', {'id': product.id}) }}" title="{{'product.manage'|trans }}">
						<i class="fa fa-cog" aria-hidden="true"></i>
						{{'product.manage'|trans }}
					</a>
				{% endif %}
				<div class="row">
					<div class="col-12 mt-5">
						{% for type, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
									{{ message }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="container">
				<h1 class="new_text">
					<strong>{{product.name}}</strong>
					{% if product.stock >= 5 %}
						<span class="badge badge-success">{{'product.inStock'|trans}}</span>
					{% elseif product.stock == 1 %}
						<span class="badge badge-warning">{{'product.lastStock'|trans}}</span>
					{% elseif product.stock == 0 %}
						<span class="badge badge-danger">{{'product.outOfStock'|trans}}</span>
					{% else %}
						<span class="badge badge-warning">{{'product.lastStocks'|trans({'%nb%':product.stock})}}</span>
					{% endif %}
				</h1>
			</div>
		</div>
		<div class="collectipn_section_3 layout_padding">
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="shoes-img3"><img src="{{'/uploads/images_products/' ~ product.image}}"></div>
						</div>
						<div class="col-md-4">
							<div class="sale_text">
								<p style="font-size:40%">{{product.name}}<br></p>
								<p style="color:#0a0506;">{{product.description}}</p>
								<strong class="ml-3">{{'product.currency'|trans}}
									<span style="color:#0a0506">{{product.price}}</span>
								</strong>
							</div>
							<a title="{{'product.addToCart'|trans}}" href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-danger btn-lg">
								{{'product.addToCart'|trans}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
