{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.title'|trans }}!{% endblock %}

{% block body %}
    <!-- contact section start -->
    <div class="collection_text">{{ 'contact.title'|trans }}</div>
    <div class="layout_padding contact_section">
        <div class="container">
            <h1 class="new_text"><strong>{{ 'contact.now'|trans }}</strong></h1>
        </div>
        <div class="container-fluid ram">
            <div class="row">
                <div class="col-md-6">
                    <div class="email_box">
                        <div class="input_main">
                            <div class="container">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" class="email-bt" placeholder="{{ 'user.form.lastname'|trans }}, {{ 'user.form.firstname'|trans }}" name="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="email-bt" placeholder="{{ 'contact.phone'|trans }}" name="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="email-bt" placeholder="{{ 'user.form.email'|trans }}" name="Email">
                                    </div>

                                    <div class="form-group">
                                        <textarea class="massage-bt" placeholder="{{ 'contact.message'|trans }}" rows="5" id="comment" name="Massage"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="send_btn">
                                <button class="main_bt">{{ 'contact.send'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ asset('images/monaka/monaka.png') }}" style="height: 600px"/>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
{% endblock %}
