<!-- header -->
<header>
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo"><a href="#"><img src="{{ asset("images/monaka/monaka5.png ") }}" width="125"></a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" href="#">{{ 'home'|trans }}</a>
                                <a class="nav-item nav-link" href="#"> {{ 'product.title'|trans }}</a>
                                <a class="nav-item nav-link" href="#"> {{ 'admin'|trans }}</a>
                                <a class="nav-item nav-link" href="#"> {{ 'contact'|trans }} </a>
                                <a class="nav-item nav-link last" href="{{ path('cart_show') }}"><i
                                            class="fa fa-shopping-cart text-white"> {{ 'cart.title'|trans }}</i></a>
                                <a class="nav-item nav-link last" href="#"></a>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        {{ "switch" | trans }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/{{ 'trad'|trans }}">{{ 'lang'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
</header>
<!-- end header -->