{% extends 'base.html.twig' %}

{% block title %}
	{{'product.edit'|trans}}
{% endblock %}

{% block body %}
	<div class="container-fluid ram mt-5 mb-5">
		<div class="container-fluid ml-5">
			<h1>
				{{'product.edit'|trans}}
			</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="email_box">
					<div class="input_main">
						<div class="container">
							{{ form_start(form) }}
							<div class="form-group">
								{{ form_errors(form.name) }}
								{{ form_widget(form.name, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.description) }}
								{{ form_widget(form.description, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.price) }}
								{{ form_widget(form.price, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.stock) }}
								{{ form_widget(form.stock, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.image) }}
								{{ form_widget(form.image, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								<button class="btn btn-danger mt-3  mb-3" title="{{'product.save'|trans}}">{{ button_label|default('Save') }}
								</button>
							</div>
							{{ form_end(form) }}
							<div class="form-group">
								<a title="{{'product.back'|trans}}" class="btn btn-warning  mb-3" href=" {{ path('product_show', {'id': product.id}) }} ">Back</a>
								{{ include('admin/product/_delete_form2.html.twig') }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center">
				<img src="{{ asset('images/monaka/monaka.png') }}" style="height: 600px"/>
			</div>
		</div>
	</div>


{% endblock %}
