{% extends 'base.html.twig' %}

{% block title %}
	{{'product.new'|trans}}
{% endblock %}

{% block body %}
	<div class="container-fluid ram mt-5 mb-5">
		<div>
			<h1>
				<strong>{{'product.new'|trans}}</strong>
			</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="email_box">
					<div class="input_main">
						<div class="container">
							{{ form_start(form) }}
							<div class="form-group">
								{{ form_errors(form.name) }}
								{{ form_widget(form.name, {'attr': {'class': 'email-bt'}}) }}

							</div>
							<div class="form-group">
								{{ form_errors(form.description) }}
								{{ form_widget(form.description, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.price) }}
								{{ form_widget(form.price, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.stock, {'attr': {'class': 'email-bt'}}) }}
								{{ form_widget(form.stock, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								{{ form_errors(form.image) }}
								{{ form_widget(form.image, {'attr': {'class': 'email-bt'}}) }}
							</div>
							<div class="form-group">
								<button class="btn btn-danger mt-3  mb-3">{{ button_label|default('Save') }}</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="shop_banner">
					<div class="our_shop">
						<button class="out_shop_bt">{{ 'joinUs'|trans }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
